*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
.container{
    width: 60%;
    min-height: 100px;
    margin: auto;
    
}
.header{
    width: 100%;
    height: 60px;
    background-color:#494949;
    
}
.header h1{
    padding: 10px;
    color: white;  
}
.menu {
    width: 100%;
    height: 60px;
    padding-top:20px;
    margin-top: 5px;
    background-color: #769fbb;
}
.menu a{
    text-decoration: none;
    color: white;
     padding: 10px;
}
a:hover{
    background-color: rgb(69, 66, 66);
    color: white;
}
.slider img{
    padding-top: 5px;
    width:100%;
    height:400px;
}
.wrapper p{
    text-align: justify;
    padding: 10px;
}
.wrapper h1{
    padding: 10px;
}
.footer{
    width: 100%;
    height: 60px;
    background-color: #48494c;
}
.footer h3{
    color: white;
    text-align: center;
    line-height: 60px;
}