*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.main-box{
    width: 60%;
    min-height: 100px;
    border: 2px solid black;
    margin: auto;
}
.header{
    height: 60px;
    padding-top:10px ;
    background-color: rgb(77, 77, 77);
    color: white;
}
.menubar{
    height: 30px;
    padding: 4px;
    background-color:black;
    color: white;
}
.menu a{
    color: white;
    padding: 5px;
    text-decoration:none ;
}
.menubar .search{
    float: right;
    
}
.search button{
    text-align: center;
    background-color: rgb(102, 100, 100);
    color: white;
}
.search button:hover{
    color: black;
    background-color: rgb(188, 185, 185);
}
.menu a:hover{
    background-color: gainsboro;
    color:black;
}
.con{
    width: 100%;
    min-height: auto;
}