*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-box{
    border: 1px solid black;
    min-height: 100px;
    width: 60%;
    margin: 10px auto;
}
.header{
    height:80px;
    width: 100%;
    background-color: rgb(73, 73, 73);
    color: white;
}
.header h2{
    padding-top: 10px;
    padding-left: 10px;
}
.header .menubar{
    width: 100%;
    height: 20px;
    margin-top: 25px;
    background-color: black;
}
.menubar a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

#sbtn{
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}
#search{
    float: right;
    padding-left:5px;
    outline:none;
    height: 100%;
}
.container
{  
    min-height: 300px;
    height: 100%;
    width: 100%;
    padding: 15px 30px;

}
.container .left
{
    /* margin-top: 10px; */
    width: 59%;
    float: left;
}
.container .right
{
     width: 39%;
     float: right;
}
.clearfix::after
{
  display: block;
  content:"";
  clear: both;
}
.left .passage{
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}
.passage h2{
    padding-bottom: 10px;
}
.passage{
    box-sizing: border-box;
    background-color: rgb(221, 219, 219);
    border: 1px solid rgb(61, 61, 61);
}
.passage p{
    padding: 7px 7px;
}

#btn2{
    font-size: 15px;
    border: 1px solid rgb(63, 63, 63);
    background-color: gray;
    height: 20px;
    color: black;
    margin: 10px 10px;
}
.one img{
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
}
.two img{
    margin-top: 10px;
        margin-right: 20px;
        width: 100%;
        
}
.list h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.list ul,li{

     padding-left: 30px;
}
.right .row1{
    width: 100%;
}
.right .row2{
    width: 100%;
}
.right .row3{
    width: 100%;
}
.right .one{
    width: 40%;
    float: left;
}
.right .two{
    width: 50px;
}
.right .two{
    width: 40%;
    float: right;
}
.right h2,h3{
    margin-left: 20px;   
}
.row{
    width: 100%;
    padding: 5px 5px;
}
.row .hleft{
    float: left;
    width: 50%;

}
.row .hright{
    float: right;
    width: 50%;
}
.footer{
    width: 100%;
    height: 20px;
    background-color: black ;
    color: white;
    margin: auto;
    text-align: center;
}