*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.box{
    width: 60%;
    min-height: 700px;
    border:1px solid black;
    margin: 20px auto;
}
.box .menu{
    width: 100%;
    display: flex;
    min-height: 50px;
    background-color: #242423;
   justify-content: space-between;
   position: sticky;
   top: 0;
}
.menu ul li{
    list-style: none;
    display: inline-block;
   padding: 15px 0px;
   
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 19px;
   font-family:sans-serif;
    padding: 15px;
}
ul li .active{
    background-color: #157a21;
}
.box p{
    font-size: 20px;
    padding: 10px;
    text-align: justify;
    
}
.box .cards
{
    width: 100%;
    margin-top: 20px;
    min-height: 200px;
    display: flex;
    /* border: 2px solid green; */
    justify-content: space-around;
} 
.cards .one
{
    width: 24%;
    height: 100%;
    /* flex-grow: 1; */
    border: 2px solid rgb(223, 220, 220);
    box-shadow: 2px 1px 3px 2px rgb(234, 234, 234);
}
.one img{
    width: 100%;
}
.radial
{
    width: 80%;
    margin: 90px;
    height: 200px;
    background-image: radial-gradient(red,yellow,green);
}